*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Color Theme Swatches in Hex */
:root{
    --light-v-color: #032859;
    --dark-v-color: #021D40;
    --high-v-colo: #5377A6; 
    --medium-v-color: #6997BF;
    --low-v-color: #89BAD9;
    --gold-color: #F2FE67;
    --white-color: #ffffff;
    --header-color: #16114E;;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    background: radial-gradient(111% 111% at 74.29% -11%, #A93300 0%, #005570 100%), linear-gradient(127.43deg, #00D5C8 0%, #2200AA 100%);
    background-blend-mode: difference, normal;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* header section */
header{
    width: 100%;
    height: auto;
    /* background: url(/assets/img/cover.png);
    background-size: cover;
    background-repeat: no-repeat; */
    padding: 50px 0;

}
header .container{
    max-width: 90%;
    height: auto;
    background: var(--light-v-color);
    margin-left: 8%;
    padding-bottom: 20px;
    border-radius: 8px;
    /* opacity: 0.8; */
    
}
.container h1{
    text-align: center;
    font-size: 45px;
    font-family: "Luckiest Guy", cursive;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-yqaDl474uucJ4WXs55aCTxvyqozuKOLV6w&usqp=CAU);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
    padding: 20px 0;
}
.container .container-in{
    text-align: center;
    font-size: 40px;
    color: var(--white-color);
    width: 90%;
    margin-left: 5%;
}
.container p{
    font-size: 40px;
    color: var(--white-color);
    text-align: center;
    margin-top: 20px;
    
}


/* main section */
main{
    max-width: 90%;
    height: auto;
    margin-left: 8%;
    
    display: flex;
    justify-content: space-evenly;
}
main .profile{
    width: 40%;
    height: 370px;
    background-color: var(--high-v-colo);
    border-radius: 0px 0px 0px 50px;
}
main .project-section{
    width: 60%;
}
.profile .profile-in{
    display: flex;
    padding: 20px;
}
.profile-in .profile-pic{
    width: 200px;
    height: 180px;
    background: url(../img/asif\ .jpg);
    background-size: cover;
    border-radius: 50%;
    
}
.profile-in .profile-text{
    width: 80%;
    margin-left: 5%;
    margin-top: 5%;
}
.profile-text h2{
    font-size: 30px;
    margin-left: 5%;
    font-family: "Luckiest Guy", cursive;
    background-image: url(/assets/img/texture.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

}
.profile-text p{
    font-size: 30px;
    color: var(--low-v-color);
    margin-top: 20px;
    font-family: "Luckiest Guy", cursive;

}
.profile p{
    font-size: 22px;
    font-family: "Luckiest Guy", cursive;
    color: var(--low-v-color);
    margin: 20px;
    text-align: justify;
}
.project-section .project-head{
    width: 100%;
    height: 70px;
    background: var(--light-v-color);
    display: flex;
}
.project-section .project-head .fas{
    font-size: 40px;
    color: var(--gold-color);
    padding: 15px;
}
.project-head .heading{
    width: 90%;
    margin: 20px 0 0 20px;
    display: flex;
    justify-content: space-between;
}
.heading span{
    font-size: 30px;
    font-weight: 700;
    color: var(--gold-color);
}
.heading span:nth-child(3){
    margin-right: 8%;
}

.project-section .projects{
    width: 100%;
    height: 60px;
    background: var(--high-v-colo);
    display: flex;
    border-radius: 0px 0px 10px 0px;
}
.projects .fas{
    font-size: 40px;
    color: var(--low-v-color);
    
    padding: 10px;
}
.projects .part{
    width: 90%;
    margin: 17px 0 0 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.part li:nth-child(2){
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
}
.part li:nth-child(3){
    padding-right: 10px;
}
.part li a{
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--low-v-color);
}
.project-section ul:nth-child(odd){
    background: var(--dark-v-color);
    border: 1px solid var(--gold-color);
    border-radius: 0px 10px 0px 0px;
}
.project-section ul:nth-child(odd) .fas,
.project-section ul:nth-child(odd) li a{
    color: var(--gold-color);
}

/* connect section */
.connect{
    width: 100%;
    height: 300px;
    background: var(--medium-v-color);
    margin-top: 60px;
}
.connect .wrapper{
    text-align: center;
}
.wrapper span{
    font-size: 60px;
    color: var(--light-v-color);
}
.wrapper .line span{
    width: 20px;
    height: 20px;
    background: var(--light-v-color);
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.line span::before{
    content: "";
    width: 180px;
    height: 3px;
    background:var(--light-v-color);
    position: absolute;
    top: 10px;
    left: -200px;
}
.line span::after{
    content: "";
    width: 180px;
    height: 3px;
    background: var(--light-v-color);
    position: absolute;
    top: 10px;
    right: -200px;
}
.connect .connect-main{
    max-width: 90%;
    margin-left: 8%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.connect-main .connect-text{
    width: 60%;
    height: 100%;
    
}
.connect-text p{
    font-size: 30px;
    text-align: justify;
    color: var(--dark-v-color);
    margin-top: 20px;
}
.connect-text p:nth-child(2){
    margin-top: 20px;
}
.connect-main .connect-img{
    width: 40%;
    height: 100%;
    
    text-align: center;
}
.connect-img svg{
    margin-top: -40px;
}


/* footer section */
footer{
    width: 100%;
    height: auto;
    background: var(--light-v-color);
    /* margin-top: 100px; */
}
.footer-text{
    max-width: 90%;
    margin-left: 8%;
    height: 100%;
    display: flex;
    gap: 5%;
    padding: 20px 0;
    
    
}
.footer-text .about,
.footer-text .resources{
    flex-basis: 20%;
    height: auto;
    text-align: left;

}

.footer-text .copy{
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.footer-text h4{
    font-size: 30px;
    color: var(--gold-color);
}
.footer-text .about p{
    font-size: 20px;
    margin-top: 20px;
    color: var(--white-color);
}
.footer-text .about p a{
    color: var(--gold-color);
    border-bottom: 1px dashed var(--gold-color)
}
.resources ul{
    margin-top: 20px;
}
.resources ul li{
    display: block;
    margin-top: 2px;
    margin-bottom: 10px;
}
.resources ul li a{
    color: var(--white-color);
    font-size: 20px;
    border-bottom: 1px dashed #fff;
}
.resources ul li a:hover{
    text-decoration: underline;
    color: var(--gold-color);
}
.copy p{
    font-size: 20px;
    color: var(--white-color);
}
.copy .sp-copy a{
    background: var(--gold-color);
    color: var(--light-v-color);
    font-weight: 600;
    padding: 3px 6px;
    border-radius: 3px;
    transition: 0.3s all linear;
}
.sp-copy a:hover{
    background: transparent;
    color: var(--gold-color);
    border: 1px dashed var(--gold-color);
}




