*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    overflow-x: hidden;
    background: #333;

}

.container{
    background: rgba(246, 213, 151, 0.924);
    width: 100vw;
    min-height: 100vh;
    transform-origin: top left;
    transition: transform 0.5s linear;
    padding: 30px;
}
.show-nav{
    transform: rotate(-15deg);
}
.circle-container{    
    position: fixed;
    top: -100px;
    left: -100px;
}
.circle{
    background: #333;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.container.show-nav .circle{
    transform: rotate(-70deg);
}

.circle button{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    color: cornflowerblue;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}
.circle #open{
    left: 60%;
}
.circle #close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

nav{
    position: fixed;
    bottom: 40px;
    left: 20px;
    
}
nav ul li{
    font-size: 1.3rem;
    margin: 30px auto;
    color: cornflowerblue;
    cursor: pointer;
    transform: translateX(-110px);
    transition: transform 0.7s ease-in;
}
nav ul li i{
    margin-right: 10px;
}
ul li:nth-of-type(2){
    margin-left: 15px;
    transform: translateX(-150px);
}
ul li:nth-of-type(3){
    margin-left: 30px;
    transform: translateX(-180px);

}
.container.show-nav + nav ul li{
    transform: translateX(0);
    transition-delay: 0.3s;
}

.content{
    padding: 50px;
}
.content h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: cornflowerblue;
    margin: 0;
}
.content p{
    font-size: 1.5rem;
    color: rgb(27, 56, 151);
    text-align: justify;
}
.content small{
    display: block;
    margin: 10px auto;
    font-size: 1.3rem;
    color: darkcyan;
    text-decoration: underline cornflowerblue;
}
.container .content img{
    max-width: 100%;
}

