*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 100vh;
    background: steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 40px 30px;
    background: rgb(0, 0, 0, 0.4);
    border-radius: 5px;
}
h1{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.form-control{
    width: 300px;
    margin: 30px 0 20px;
    position: relative;
}
.form-control input{
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    width: 100%;
    font-size: 18px;
    color: #fff;
    margin: 20px 0;
}
.form-control input:focus,
.form-control input:valid{
    outline: 0;
    /* border-bottom-color: lightblue; */
}
.form-control label{
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    position: absolute;
    left: 0;
    top: 15px;
    
}
.btn{
    width: 100%;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 1rem;
}
.btn:active{
    transform: scale(0.98);
}
p{
    text-align: center;
    margin-top: 10px;
    color: #fff;
}
p a{
    color: lightblue;
}

.form-control label span{
    display: inline-block;
    font-size:18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-control input:focus + label span,
.form-control input:valid + label span{
    color: lightblue;
    transform: translateY(-30px);
}